<%- include('header', { title: 'Enter Your Credentials' }); %>

<main class="container mx-auto min-w-fit flex flex-col items-center text-center justify-center">
  <form action="" method="post" class="flex flex-col items-start text-left size-max">
    <% if (validationError) { %>
      <div class="mx-3 mb-2 text-rose-500">Wrong username or password.</div>
    <% } %>
    <div class="m-2">
      <%- include('textInput', { label: 'Username:', type: 'text', name: 'username' }); %>
    </div>
    <div class="m-2">
      <%- include('textInput', { label: 'Password:', type: 'password', name: 'password' }); %>
    </div>
    <%- include('button', { color: 'blue', type: 'submit', text: 'Sign in' }); %>
  </form>
</main>
